# Lyft Packages
# ------------------------------------------------------------------------------
lyft-dataset-sdk==0.0.8  # https://pypi.org/project/lyft-dataset-sdk/0.0.8/  # Lyft Module for Dataset Operations

# Kaggle Packages
# ------------------------------------------------------------------------------
kaggle==1.5.12  # https://pypi.org/project/kaggle/1.5.12/  # Kaggle API for dataset operations

# Modelling Modules
# ------------------------------------------------------------------------------
tqdm==4.62.3  # https://pypi.org/project/tqdm/4.62.3/  # Fast, Extensible Progress Meter
tensorflow==2.8.0  # https://pypi.org/project/tensorflow/2.8.0/  # Tensorflow engine